/**
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&display=swap');
 font-family: 'Caudex', serif;**/

@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
/** font-family: 'Baumans', cursive; **/

:root{

    
    --fst-col: #c45d3e;
    --ses-col: #ee7c4b;
    --trd-col: #c6c5b3;
    --frd-col: #f5f0c4;
    --col-dark: #000000;
    --col-light: #eeeeee;
}

*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Baumans' , cursive;
}

a{
    text-decoration: none;
    color: var(--frd-col);
}
a:hover{
    font-weight: bolder;
    color: #000000;
}

ul{
    list-style: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    position: relative;
    background: linear-gradient(#c45d3e,#ee7c4b,#f5f0c4);
}


.nav-bar{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    padding: 0px 5%;
}

.nav-bar li{
    display: inline;
    margin: 0px 15px;
}

/** HERO STYLE **/


.hero-section{
    position: relative;
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(12,calc(100%/12));
    grid-template-areas: ". text-content text-content text-content text-content text-content . img-content img-content img-content img-content .";
    align-items: center;
}


.hero-section .text-content{
    grid-area: text-content;
    position: relative;
    min-width: 200px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.hero-section .social-ref  {
    display: inline-block;
    filter: grayscale(100%);
    transition: 1s;
}
.social-ref:hover{
    filter: grayscale(0%);
    transform: translateY(-10px);
}

.hero-section .img-content{
    grid-area: img-content;
    position: relative;
    min-width: 300px;
    width: 100%;
    transform: translateY(50px);
    animation: move-up 1s linear 1 forwards;
}

.feature-img{
/**/
position: relative;
bottom: 0;
width: 100%;
}

/*** social media refs ***/


.media-icons{
    display: flex;
    justify-content: space-evenly;
}

.media-icons li {

    margin: 0px 15px;
}
.media-icons image {

    width: 50px;
    height: 50px;
}



.btn-conatct-us{
    position: relative;
    width: fit-content;
    background-color: #f5f0c4;
    padding:  10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    transition: 1s;
}

.hero-section .btn-conatct-us{

    opacity: 0;
    transform: translateX(-100px);
    animation: move-right 1s linear 1 forwards;
    animation-delay: 2s;
}
.btn-conatct-us:hover{
    background-color: #f5f0c4;
    border: #eeeeee;

}

@keyframes move-up{

    100%{
        opacity: 1;
        transform: translateY(2px);
    }
}

@keyframes move-right{

    100%{

        opacity: 1;
        transform: translateX(0);
    }


}