
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&display=swap');
/** font-family: 'Caudex', serif;**/
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
/** font-family: 'Baumans', cursive; **/

:root{

    
    --fst-col: #c45d3e;
    --ses-col: #ee7c4b;
    --trd-col: #c6c5b3;
    --frd-col: #f5f0c4;
    --col-dark: #000000;
    --col-light: #eeeeee;
}

*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Baumans' , cursive;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#c45d3e,#f5f0c4 );
    padding: 10px 10%;
    
}

a{
    text-decoration: none;
    color: var(--trd-col);
}

ul{

    list-style: none;
}


.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    
}

.nav-bar .brand{

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.actions a{

    margin: 0px 15px;
}

.contact-btn{
    display: inline-block;
    background-color: var(--frd-col);
    padding: 16px 30px;
    color: #c45d3e;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    transition: 0.5s;
}

.nav-bar li a:hover{

    font-weight: bold;
    color: var(--col-dark);
}

.nav-bar li{

    display: inline-block;
    margin: 0px 15px;
}

.brand-logo img{
    width: 60px;
    height: 60px;
}

/** CONTENT ELEMENTS STYLES **/

.content{

    position: absolute;
    top: 20%;
    transform: translate( 0%,50%);
    max-width: 50%;
}

.content h1{

    font-size: 70px;
    color: var(--col-dark);
    animation-delay: 0.5s;
}

.content p{
margin: 10px 0px 30px;
color: var(--col-dark);
animation-delay: 1s;

}



.contact-btn:hover{

    border-bottom-left-radius: 10px;
    background-color: #000000;
    border: --ses-col solid 2px;
    color: var(--col-light);
    

}

/**  feature-img **/


.feature-img{
    position: absolute;
    width: 530px;
    bottom: 0px;
    right: 10%;

}

.feature-img.animated-up{
    animation-delay: 1.5s;
}

/** ANIMATIONS **/


.animated-up{

    opacity: 0;
    transform: translateY(50px) ;
    
    -webkit-animation: move-up-anim 0.5s linear forwards;
    -moz-animation: move-up-anim 0.5s linear forwards;
    -o-animation: move-up-anim 0.5s linear forwards;
    -ms-zoom-animation: move-up-anim 0.5s linear forwards;
    animation: move-up-anim 0.5s linear forwards;
}

@keyframes move-up-anim{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.animated-to-right{

    opacity: 0;
    transform: translateX(-50px) ;
    
    -webkit-animation: move-up-anim 0.5s linear forwards;
    -moz-animation: move-up-anim 0.5s linear forwards;
    -o-animation: move-up-anim 0.5s linear forwards;
    -ms-zoom-animation: move-up-anim 0.5s linear forwards;
    animation: anim-to-right 1s linear forwards;
    animation-delay: 2s;

}

@keyframes anim-to-right{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}